.warpp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  height: 100%;
}

.lis {
  display: flex;
  flex-direction: column;
}

.imgs {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid red; */
  margin-bottom: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgs img {
  max-width: 100%;
  max-height: 100%;
}

.lis p {
  font-size: 12px;
}