.warpp {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9) border-box;
}

.imgs,
.right div:first-child,
.right div:last-child {
  border-radius: 50%;
  overflow: hidden;
}

.left {
  display: flex;
  align-items: center;
  width: 60%;
}

.imgs {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  margin-right: 5px;
}
.img {
  max-width: 100%;
  max-height: 100%;
}

.content {
  width: 80%;
}

.content h4,
.content p {
  text-align: left;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.content h4 {
  font-weight: bold;
  font-size: 15px;
}
.content p {
  font-size: 12px;
  color: #777;
}

.right {
  display: flex;

}
.right div:first-child {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.right div:last-child {
  width: 25px;
  height: 25px;
}
