.warpper {
  position: relative;
  top: 0;
  left: 0;
  /* border: 1px solid red; */
  height: 280px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.uls {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}
