.blokcs {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid #000; */
}

.lis {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 32%;
  /* border: 1px solid red; */
  margin-bottom: 10px;
}