.warpp {
  height: 50px;
  border: 1px solid red;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.imgs {
  width: 23px;
  height: 23px;
  margin-right: 20px;
  /* border: 1px solid #000; */
}

.txt {
  display: flex;
  flex-direction: column;
  width: 60vw;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  height: 40px;
}
.txt p {
  position: absolute;
  left: 0;
}

.txt p:first-child {
  width: auto;
  top: 0;
  color: #fff;
  font-size: 18px;
  border: 1px solid red;
  /* animation: myfirst 5s; */
  /* animation-name: myfirst;
  animation-iteration-count: infinite;
  animation-play-state: paused; */
  /* transform: translateX(-0%); */
  /* transform: translate(20px, 0, 0); */
}
/* @keyframes myfirst {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
} */
.txt p:last-child {
  bottom: 0;
  margin-top: 5px;
  font-size: 10px;
  color: #707b80;
}

.rig {
  width: 30px;
  height: 30px;
}






