.lis {
  position: relative;
  top: 0;
  left: 0;
  /* border: 1px solid red; */
  border-radius: 4px;
  width: 100px;
  height: 140px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgs {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  /* border: 1px solid #000; */
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  text-align: left;
  /* font-weight: bold; */
}

.txt {
  /* border: 1px solid #000; */
  height: 28px;
  overflow: hidden;
}

.play_count {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
}
.play_count i {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  /* border: 1px solid red; */
}

.play_count p {
  color: #fff;
  font-size: 12px;
}